/* .bookmarks-container{
    
    background-color: aqua;
} */

.blogs-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    margin: 35px 0;
}

.questions h4{
    margin: 0;
}

.questions p{
    color: #474747;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: 0 150px; */
}


.spent-time {
    color: #6047EC;
    text-align: center;
    font-weight: 700;
    background-color: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.spent-time h4 {
    margin: 10px;
}

.bookmark-container {
    position: sticky;
    top: 100px;
    z-index: 2;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
    background-color: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}
.bookmark-container h4{
    margin:0;
}

@media only screen and (max-width: 576px){
    .blogs-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px 0;
    }
}