/* .bookmarks-container{
    
    background-color: aqua;
} */

.blogs-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    margin: 35px 0;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: 0 150px; */
}


.spent-time {
    color: #6047EC;
    text-align: center;
    font-weight: 700;
    background-color: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
}

.spent-time h4 {
    margin: 10px;
}

.bookmark-container {

    position: sticky;
    top: 0;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
    background-color: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}
.bookmark-container h4{
    margin:0;
}